body {
	font-family: 'GFS Neohellenic', sans-serif;
	font-size: 20px;
}

.container {
	width: 500px;
	margin: auto;
	/*border: 1px solid #eee;*/
	border-radius: 3px;
}

input {
	width: 100%;
	padding: 10px;
	font-size: 20px;
}

ul {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	border: 1px solid #eee;
	padding: 10px;
	cursor: pointer;
}

li:hover {
	background-color: #eee;
}

li.done {
  color: #666;
  text-decoration: line-through;
}

.delete {
  float: right;
  color: red;
  font-size: 0.7rem;
}
